.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 150px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-image: url("https://img.freepik.com/fotos-premium/acuarela-patrones-fisuras-huellas-pata-gato-fondo-acuarela-pata-gato_467247-273.jpg?w=826");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}


.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.8;
  z-index: -1;
}



  .text {

    line-height: 1,60;
    text-align: justify;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    color: #333333;
    letter-spacing: 1px;

    margin: 0;
    padding: 20;
    vertical-align: middle;
    height: 100%;
   
    background-color: #fff; /* Fondo blanco */
      padding: 20px;
      border-radius: 8px;
      text-align: justify;
  
    
    
    

  }

  .submitButton {
    color: rgb(231, 218, 218);
    background-color: #e1710f;
    font-size: 17px;
    text-align: center;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px 1px rgb(112, 44, 44);
    cursor: pointer;
}
