.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Ajusta el valor según tus necesidades */
  background-image: url("https://img.freepik.com/fotos-premium/acuarela-patrones-fisuras-huellas-pata-gato-fondo-acuarela-pata-gato_467247-273.jpg?w=826");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: solid grey;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 5px; */
}

.infoContainer img {
  max-width: 50%; /* Ajusta el tamaño máximo de la imagen al ancho del contenedor */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
  align-self: flex-start; /* Alinea la imagen a la izquierda */
}

.propertyContainer {
  display: flex;
  flex-direction: row;

  justify-content: left;
  align-items: center;
  /* justify-items: baseline; */
  /* text-align: justify; */
}

.healthScoreTitle {
  color: gray;
  font-size: x-large;
}
.healthScoreNumber {
  font-size: 60px;
  font-weight: bolder;
  color: greenyellow;
}

.dietsContainer {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}
.dietsTitle {
  color: gray;
  font-size: x-large;
}
.diets {
  list-style: none;
  font-size: large;
  color: blueviolet;
}
.summaryPrepContainer {
  height: 100%;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: blueviolet;
  text-align: left;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.summary {
  margin-bottom: 30px;
  /* height: 50%; */
  width: 90%;
  background-color: white;
  text-align: left;
  padding: 30px;
  border-radius: 20px;
}

.prep {
  /* height: 50%; */
  width: 90%;
  background-color: white;
  text-align: left;
  padding: 30px;
  border-radius: 20px;
}

.h4White {
  margin: 2px;
  padding: 1px;
  font-weight: 500;
  color: blueviolet;
  font-size: xx-large;
  margin-bottom: 10px;
}

.deleteFilter {
  text-align: center;
  width: 80px;
  height: 30px;
  padding: 10px 10px;
  background-color: rgb(214, 127, 21);
  color: white;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  left: 50px;
  /* position: relative; */
  top: -10px; /* Ajusta este valor según tus necesidades */

  text-decoration: none;

  /* transition: background-color 0.3s ease-in-out; */
}
.buttonimg {
  width: 100px;
  height: 100px;
}
.propertyContainer {
  background-color: white;
  background-color: white;
  text-align: center; /* Centra el texto horizontalmente */
  font-weight: bold; /* Establece el texto en negrita */
  font-style: italic; /* Establece el texto en cursiva (opcional) */
  font-size: 18px; /* Ajusta el tamaño de fuente según tus preferencias */
  color: #333;
}
.enlaceposicionado {
  position: absolute;
  top: 10px; /* Ajusta el valor según la distancia desde la parte superior */
  left: 10px; /* Ajusta el valor según la distancia desde la izquierda */
  margin: 10px; /* Opcional: agrega margen para ajustar el espacio alrededor del enlace */
}
.right {
  position: fixed;
  top: 10px; 

  left: 10px;
  padding: 10px 10px;
  background-color: gray;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.right:hover {
  background-color: rgb(217, 168, 34);
}

.right:active {
  top: 2px;
}