.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.sideBarContainer {
  background-color: rgb(194, 188, 188);
  width: 14%;
}

.statisticsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* border-color: aqua; */
  height: 550px;
  width: 90%;
}
.container {
  display: flex;
  background: tomato;
}

.sideBar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 200px;
  height: 95%;
  /* padding: 10x; */

  /* border-color: tomato; */
  /* border-style: solid; */
  border-radius: 6px;
  /* background: rgb(223, 217, 217); */
}

.buttonContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 50%;
  padding: 10x;

  /* background: rgb(223, 217, 217); */
}
.topIcon {
  /* background: blueviolet; */
  color: black;
  padding: 3px;
  border-radius: lg;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  margin-top: 10px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  /* background: grey; */
  color: black;
  padding: 3px;
  border-radius: lg;
  display: flex;
  justify-content: center;
  cursor: pointer;

  border: none;
  background: none;
  font-size: large;
}
.buttons:focus {
  background-color: tomato;
  color: white;
}

.buttons:hover {
  background-color: tomato;
  color: white;
}
.span {
  border-bottom: 1px;
  border-color: gray;
  width: full;
  padding: 2px;
}
